.container {
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: .5rem;
height: 3.25rem;
width: 5.625rem;
background:var(--blue-dark);
border-radius: 8px;
cursor: pointer;
transition: background 300ms;
}

.container:hover{
  background: var(--blue);
}

button {
  color: var(--gray-100);
  font-size: var(--font-size-14);
  font-weight: var(--font-bold);
  line-height: var(--font-line-height);
  border: none;
  background: none;
}


